<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Make the app take the whole screen so it looks better on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- above 3 meta tags *must* come first in the head -->

    <title>Maintenance</title>

    <!-- AngularJS -->
    <script src="node_modules/angular/angular.js"></script>

    <!-- Bootstrap CSS used by Angular Bootstrap -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    <!-- Angular Bootstrap from http://angular-ui.github.io/bootstrap/ -->
    <!-- This is an AngularJS wrapper for Bootstrap -->
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    <script src="app.js"></script>

</head>
<body ng-controller="PageController">
    <div class="container-fluid">

        <h1>Maintenance</h1>

        <h2>Equipment View</h2>
        <maint-view-equipment></maint-view-equipment>

        <h2>Maintenance View</h2>
        <ul class="list-group">
            <li ng-repeat="maintenanceKey in vm.maintenanceKeys" class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">{{vm.maintenance[maintenanceKey].name}}</div>
                    <div class="col-sm-8">
                        <ul class="list-group">
                            <li ng-repeat="piece in vm.equipmentGroupedByMaintenance[maintenanceKey]" class="list-group-item">
                                {{piece.piece}}
                                <maint-maintenance-alert status="piece.status">
                                    {{piece.status}}
                                </maint-maintenance-alert>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <script src="data/equipment.js"></script>
    <script src="app/equipment-service.js"></script>
    <script src="app/maintenance-alert.js"></script>
    <script src="app/view-equipment.js"></script>
    <script src="app/page.js"></script>
</body>
</html>