<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Make the app take the whole screen so it looks better on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- above 3 meta tags *must* come first in the head -->

    <title>Maintenance</title>

    <!-- AngularJS -->
    <script src="node_modules/angular/angular.js"></script>

    <!-- Bootstrap CSS used by Angular Bootstrap -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    <!-- Angular Bootstrap from http://angular-ui.github.io/bootstrap/ -->
    <!-- This is an AngularJS wrapper for Bootstrap -->
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    <script src="app.js"></script>

</head>
<body ng-controller="PageController">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-6">
                <h1>Maintenance Management</h1>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="displayModel" uib-btn-radio="'Equipment'">Equipment View</label>
                    <label class="btn btn-primary" ng-model="displayModel" uib-btn-radio="'Maintenance'">Maintenance View</label>
                    <label class="btn btn-primary" ng-model="displayModel" uib-btn-radio="'Group'">Group View</label>
                </div>
            </div>

            <div class="col-sm-6">
                <h2>Key</h2>
                <maint-maintenance-alert status="'complete'" style="margin-right: 10px">Complete</maint-maintenance-alert>
                <maint-maintenance-alert status="'pending'" style="margin-right: 10px">Pending</maint-maintenance-alert>
                <maint-maintenance-alert status="'overdue'">Overdue</maint-maintenance-alert>
            </div>
        </div>

        <div ng-show="displayModel === 'Equipment'">
            <h2>Equipment View</h2>
            <maint-view-equipment></maint-view-equipment>
        </div>

        <div ng-show="displayModel === 'Maintenance'">
            <h2>Maintenance View</h2>
            <maint-view-maintenance></maint-view-maintenance>
        </div>

        <div ng-show="displayModel === 'Group'">
            <h2>Group View</h2>
            <maint-view-group></maint-view-group>
        </div>
    </div>

    <script src="data/equipment.js"></script>
    <script src="app/equipment-service.js"></script>
    <script src="app/maintenance-alert.js"></script>
    <script src="app/view-equipment.js"></script>
    <script src="app/view-maintenance.js"></script>
    <script src="app/view-group.js"></script>
    <script src="app/page.js"></script>
</body>
</html>