<ul class="list-group">
    <li ng-repeat="maintenanceKey in vm.maintenanceKeys" class="list-group-item">
        <div class="row">
            <div class="col-sm-4">{{vm.maintenance[maintenanceKey].name}}</div>
            <div class="col-sm-8">
                <ul class="list-group">
                    <li ng-repeat="piece in vm.equipmentGroupedByMaintenance[maintenanceKey]" class="list-group-item">
                        {{piece.piece}}
                        <maint-maintenance-alert status="piece.status">
                            {{piece.status}}
                        </maint-maintenance-alert>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
