<div class="row">
    <div class="col-sm-6">
        <h4>This list contains equipment that has exactly the selected maintenance.</h4>
        <ul class="list-group">
            <li ng-repeat="piece in vm.equipment" class="list-group-item">
                {{piece.name}}
            </li>
        </ul>
        <br>
        <h4>This list contains equipment that has at least one of the selected maintenance.</h4>
        <ul class="list-group">
            <li ng-repeat="piece in vm.hasOneList" class="list-group-item">
                {{piece.name}}
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <ul class="list-group">
            <li ng-repeat="maintenanceKey in vm.maintenanceKeys" class="list-group-item">
                <div class="checkbox">
                    <label>
                        <input ng-change="vm.maintenanceGroupChange()" type="checkbox" ng-model="vm.maintModel[maintenanceKey]"> {{vm.maintenance[maintenanceKey].name}}
                    </label>
                </div>
            </li>
        </ul>
    </div>

</div>


